{% extends "base.html" %}
{% block body %}
	<form action="{{ url_for('new_user') }}" method=post>
			<dl>
				<dt>Username: 
				<dd><input type=text name=username /><br>
				<dt>Email: 
				<dd><input type=text name=email /><br>
				<dt>Password: 
				<dd><input type=password name=password1 /><br>
				<dt>Re-enter Password: 
				<dd><input type=password name=password2 /><br>
				<dt>First Name: 
				<dd><input type=text name=fname /><br>
				<dt>Last Name: 
				<dd><input type=text name=lname /><br>
				<dd><input type=submit value=Submit />
			</dl>
	</form>
{% endblock %}
