{% extends "base.html" %}
{% block body %}
    <script>
        $(function () {
            $( "#datepicker" ).datepicker();
        });
    </script>
	<form action="{{ url_for('new_user') }}" method=post>
			<dl>
				<dt>Email: 
				<dd><input type=text name=email /><br>
				<dt>Password: 
				<dd><input type=password name=password1 /><br>
				<dt>Re-enter Password: 
				<dd><input type=password name=password2 /><br>
				<dt>First Name: 
				<dd><input type=text name=fname /><br>
				<dt>Last Name: 
				<dd><input type=text name=lname /><br>
				<dt>Date of Birth: 
				<dd><input type=date name=dob /><br>
				<dt>Gender: 
				<dd><label class="radio inline">
				        <input type=radio  name=genderRadios id=male value=male /> Male
				    </label>
				    <label class="radio inline">
				        <input type=radio name=genderRadios id= male value=female /> Female
				    </label><br />
				<br />
				<dd><input type=submit value=Submit />
			</dl>
	</form>
{% endblock %}
