{% extends "base.html" %}
{% block body %}
	<!-- If the user is selected, allow them to switch users ("logout") -->
	{% if current_user.is_authenticated() %}

		<ul class="nav nav-tabs">
            <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Home<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('calendar') }}">Calendar</a></li>
                    <li><a href="{{ url_for('index') }}">Chart</a></li>
                    <li><a href="{{ url_for('weighin') }}">Weigh-in</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Gym</a>
            </li>
	        <li>
	            <a href="#">User Search</a>
            </li>
            <li class="pull-right">
                <a href="{{ url_for('workout') }}">Record Workout</a>
            </li>
        </ul>
        {% for workout in workouts %}
        {% else %}
            <p>No workouts yet!
        {% endfor %}
        <dt>
        	<h4>View workout history</h4>
            <br><br>
            <input type="hidden" id="select-workout" style="width: 300px"/>
            <br><br>
            <input type="hidden" id="select-user" style="width: 300px"/>
            <br><br>
            <div class="input-append date" id="date-from" data-date-format="mm/dd/yyyy">
                From:
                <input class="span2" size="16" type="text" readonly>
                <span class="add-on">
                    <i class="icon-calendar"></i>
                </span>
            </div>
            <br>
            <div class="input-append date" id="date-to" data-date-format="mm/dd/yyyy">
                <input class="span2" size="16" type="text" readonly>
                <span class="add-on">
                    <i class="icon-calendar"></i>
                </span>
            </div>
            <br><br>
            <button id="refresh_button">Refresh Chart</button>
        </dt>
        <div id="chart" style="min-width: 400px; height: 400px; margin: 0 auto" uid="{{current_user.id}}"></div>
        <a href="#modalTest" role="button" class="btn" data-toggle="modal">Modal Test</a>
        <div id="modalTest" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalTestLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="modalTestLabel">Modal Test!</h3>
            </div>
            <div class="modal-body">
                <p>Content!</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
    <!-- If no user is selected, allow them to "login" -->
	{% else %}
		<h2>Login</h2>
		<form action="{{url_for('index')}}" method="post">
			<dt>Username: 
	    	<dd><input type=text name=username /><br>
	    	<dt>Password: 
            <dd><input type=password name=password /><br>
	      	<dd><input type=submit value=Go />
		</form>
		<p>New user? Click <a href="{{ url_for('new_user') }}">here</a>!
    {% endif %}
{% endblock %}
