{% extends "base.html" %}
{% block body %}
	{% if current_user.is_authenticated() %}
	<ul class="nav nav-tabs">
        <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Home<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('calendar') }}">Calendar</a></li>
                <li><a href="{{ url_for('index') }}">Chart</a></li>
                <li><a href="{{ url_for('weighin') }}">Weigh-in</a></li>
                <li class="divider"></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Gym</a>
        </li>
    	<li>
    		<a href="#">User Search</a>
		</li>
	</ul>
	
	<div id="weighin" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

	{% endif %}
{% endblock %}
