{% extends "base.html" %}
{% block body %}
	<!-- If the user is selected, allow them to switch users ("logout") -->
	{% if current_user.is_authenticated() %}

     <script>
    $(function() {
        function split( val ) {
            return val.split( /,\s*/ );
        }
        $( "#exerciseDropdown" )
            // don't navigate away from the field on tab when selecting an item
            .bind( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
                $( this ).data( "ui-autocomplete" ).menu.active ) {
                event.preventDefault();
            }
        })
        .autocomplete({
            minLength: 0,
            source: '/exercisedropdown/',
            focus: function() {
                return false;
            }
        });
        $( "#userDropdown" )
            // don't navigate away from the field on tab when selecting an item
            .bind( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
                $( this ).data( "ui-autocomplete" ).menu.active ) {
                event.preventDefault();
            }
        })
        .autocomplete({
            minLength: 0,
            source: '/userdropdown/',
            focus: function() {
                return false;
            },
            select: function( event, ui ) {
                var terms = split( this.value );
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push( ui.item.value );
                // add placeholder to get the comma-and-space at the end
                terms.push( "" );
                this.value = terms.join( ", " );
                return false;
            }
        });
    });
    </script>
		<ul class="nav nav-tabs">
	        <li class="active">
	            <a href="#">Workout</a>
	        </li>
            <li>
                <a href="{{ url_for('calendar') }}">Calendar</a>
            </li>
	        <li>
	            <a href="{{ url_for('weighin') }}">Weigh-in</a>
	        </li>
    	</ul>
        {% for workout in workouts %}
        {% else %}
            <p>No workouts yet!
        {% endfor %}
        <dt>
        	<h4>View workout history</h4>
        	
            <dd><br>
            <dt>Select a workout below:
            <dd><div class="ui-widget">
                <input id="exerciseDropdown" size="50" />
            </div>
            <dt>Compare your results with other users:
            <dd><div class="ui-widget">
                <input id="userDropdown" size="50"/>
            </div>
            
            <dd><br>

            <dd><button id="refresh_button">Refresh Chart</button>

        </dt>
        <div id="chart" style="min-width: 400px; height: 400px; margin: 0 auto" uid="{{current_user.id}}"></div>
        <h4><a href="{{url_for('workout')}}">Record Workout</a></h4><br>
    <!-- If no user is selected, allow them to "login" -->
	{% else %}
		<h2>Login</h2>
		<form action="{{url_for('index')}}" method="post">
			<dt>Username: 
	    	<dd><input type=text name=username /><br>
	    	<dt>Password: 
            <dd><input type=password name=password /><br>
	      	<dd><input type=submit value=Go />
		</form>
		<p>New user? Click <a href="{{ url_for('new_user') }}">here</a>!
    {% endif %}
{% endblock %}